<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Our App!</title>
  </head>
  <body>
    <h1>One Book</h1>

    <h2><%= @book.title %> by <%= @book.author_name %></h2>
    <p><%= @book.snippet %></p>
    <% @book.genres.each do |genre| %>
      <p><%= genre.name %></p>
    <% end %>

    <a href="/books">Back to All Books</a>
    <a href="/books/<%= @book.id %>/edit">Edit This Book</a>

    <form action="/books/<%= @book.id %>" method="POST" >
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" value="Delete This Book" />
    </form>
  </body>
</html>
